<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/layouts/master}">

<head>

  <title>Blogging Admin - List Category</title>
  
  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  
</head>

<body id="page-top">
	<section layout:fragment="content">
		<div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Categories</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List Category</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>SN.</th>
                      <th>Name</th>
                      <th>Publish</th>
                      <th>Created At</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>SN.</th>
                      <th>Name</th>
                      <th>Publish</th>
                      <th>Created At</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr th:each="category, itr : ${categories}">
                      <td th:text="${itr.count}"></td>
                      <td th:text="${category.name}"></td>
                      <td th:text="${category.publish}"></td>
                      <td th:text="${category.created_at}"></td>
                      <td><a th:href="@{/category/edit/{categoryId} (categoryId = ${category.categoryId})}" class="btn btn-warning">Edit</a>
                      <a href="" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                      th:attr="data-link=''+@{/category/delete/{categoryId} (categoryId = ${category.categoryId})}+''">Delete</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
   		</div>
        <!-- /.container-fluid -->
        
	      <!-- Delete Modal-->
		  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="deleteModalLabel">Sure to Delete?</h5>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">x</span>
		          </button>
		        </div>
		        <div class="modal-body">By Selecting "OK" below, you are going to delete this Category.</div>
		        <div class="modal-footer">
		          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
		          <a class="btn btn-primary btn-ok" href="#">OK</a>
		        </div>
		      </div>
		    </div>
		  </div>
	</section>     
  
  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
  
  <section layout:fragment="pageScript">
	 <script type="text/javascript">
		 $('#deleteModal').on('show.bs.modal', function (e) {
			var modal = $(this);
			var button = $(e.relatedTarget);
			modal.find('.btn-ok').attr('href', button.data('link'));
		 });
	 </script>
  </section>

</body>

</html>
